/* Fuentes */
@font-face {
    font-family: "Poppins";
    src: url(fuentes/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(fuentes/Roboto-Regular.ttf);
}

*{
    box-sizing: border-box;
}

:root{
  /* ajustes fuente */
  font-family: "Poppins";
  /* variables */
  --color-header : rgb(226, 226, 226);
  --color-fondo: rgb(255, 255, 255);
  --color-morado-oscuro : rgb(14, 11, 23);
  --color-morado-claro: rgb(47, 31, 88);

  --color-contenedor: rgb(78, 55, 138); /* modificar colores más tarde */

  --fuente-blanca: rgb(255, 255, 255); 
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;

    background-color: var(--color-fondo);
}

/* cosas globales */
/* fuente parrafo*/
p{
    font-family: "Roboto";
}
/* imagenes automaticas */
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
textarea{
  resize: none;
}
a{
  text-decoration: none;
}
button{
  cursor: pointer;
  background-color: transparent;
  border: 0;
}
/* bordeado de contenedores */
.bordeado{
    border-radius: 18px;
    overflow: hidden;
}
/* Tipos de contenedores */
.contenedor-centrado{
  display: flex;
  align-items: center;
  justify-content:center;
}

/* fin cosas globales */



/* Encabezado */
.encabezado{
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: var(--color-header);
  margin: 0;
  height: 60px;
  width: 100%;
  top: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
/* cambiar tamaño despues */
.logo-encabezado img {
    align-items: center;
    width: 60px;
    margin: 0;
    padding-left: 5px;
}
.encabezado nav{
    width: 100%;
    display: flex;   
    align-items: center;
    justify-content: space-between;
}
.ancla-pagina{
    font-size: 18px;
}
.ancla-pagina::after{
  content: '';
  width: 0%;
  height: 2px;
  background: var(--color-morado-claro);
  display: block;
  transition: width 0.5s ease;
}
.ancla-pagina:hover::after{
  width: 100%;
}

.contenedor-lupa{
  position: relative;
  height: 100%;
  gap: 5px;
}
.elemento-header{
  height: 100%;
  width: 80px;
  padding: 20px;
  border-radius: 100%; 
}
.imagen-lupa a{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.filtro-modelo{
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--color-morado-claro);
  width: 250px;
  color: var(--color-morado-claro);
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
}

.filtro-resultados{
  position: absolute;
  top: 54px;
  left: 0px;
  height: auto;
  width: 250px;
  background-color: white;
  z-index: 2;
}

.elemento-resultado{
  display: flex;
  justify-content: start;
  align-items: center;
  height: 50px;
  gap: 10px;
  padding-left: 5px;
}

.imagen-resultado{
  height: 30px;
  width: 30px;
}

.descripcion-resultado{
  flex: 1;
  height: 30px;
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (min-width: 768px){
    .encabezado{
        height: 80px;
    }
    .logo-encabezado img {
        width: 120px;
        padding-left: 20px;
    }
    .encabezado nav{
        flex: 1;
        margin: 0px 100px;
    }
    .encabezado nav a{
        font-size: 20px;
    }

    .contenedor-lupa{
      gap: 20px;
    }
    .imagen-lupa{
      height: 100%;
      width: 80px;
      padding: 20px;
    }
    .imagen-lupa a{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .filtro-modelo{
      width: 250px;
      resize: none;
    }
}

/* footer */
.pie{
  margin: 20px 0 0 0;
}
/* marcas pie */
.marcas-pie{
  background-color: var(--color-morado-oscuro);
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.marcas-pie a{
  margin: 0px 15px;
  height: 25px;
  overflow: hidden;
}
/* informacion de entregas y cuotas pie */

.pie-entrega-cuotas{
  background-color: var(--color-morado-claro);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: auto;
  width: 100%;
  font-size: 20px;
}
.pie-entrega-cuotas div{
  margin: 5px;
}

.entrega-cuotas-imagen{
  height: 170px;
}
.entrega-cuotas-texto{
  flex: 1;
  text-align: center;
  color: var(--fuente-blanca);
}

/* informacion adicional pie */

/* Listados */
.informacion-adicional-pie{
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  justify-content: space-between;
  padding: 0px 20px;
}
.informacion-adicional-pie div{ /* Los contenedores que dividen en 4 */
  width: 100%;
  margin-top: 10px;;
  margin-bottom: 10px;
}
.informacion-adicional-pie div div{ /* Los verdaderos contenedores */
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 100%;
}

.listado-pie{
  text-align: center;
  flex-direction: column;
}
.listado-pie ul{
  padding: 0;
  list-style: none;
}

/* Resto */
.subcontenedor-grande-footer{
  display: flex;
  flex-direction: column-reverse;
}
.contenedor-centrado-pie h2{
  display: flex;
  justify-content: start;
  width: 100%;
}
.logo-pie{
  height: 140px;
  width: 330px;
}

.sucursal-principal{
  height: 140px;
  overflow: hidden;
}
.sucursal-principal iframe{
  height: 100%;
  width: 100%;
}

.contenedor-centrado-pie{
  display: flex;
  justify-content: start;
  width: 100%;
}
.contenedor-centrado-pie div{
  display: flex;
  width: 100%;
}


.formulario-ofertas{
  display: flex;
  width: 100%;
}
.contenedor-centrado-pie .elementos-centrados-pie{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.formulario-ofertas .elementos-centrados-pie{
  justify-content: start;
}
.correo-ofertas{
  width: 50%;
}
.boton{
  cursor: pointer;
}

.redes-sociales-pie{
  height: 100px;
  width: 100px;
}
.redes-sociales-pie img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media (min-width: 768px){
    .pie{
      padding-top: 40px;
        height: 120px;
    }
    /* marcas pie */
    .marcas-pie{
        width: 100%;
        height: 120px;        
    }
    .marcas-pie a{
        margin: 0px 40px;
        height: 30px;
    }
    .pie{
      margin: 0;
  }
  /* informacion de entregas y cuotas pie */
  
  .pie-entrega-cuotas{
      flex-direction: row;
      justify-content: center;
      height: 250px;
      font-size: 30px;
  }
  .pie-entrega-cuotas div{
      margin: 20px;
  }
  
  .entrega-cuotas-imagen{
      height: 170px;
  }
  .entrega-cuotas-texto{
      width: 350px;
      text-align: center;
      color: var(--fuente-blanca);
  }
  
  /* informacion adicional pie */
  
  /* Listados */
  .informacion-adicional-pie{
      flex-direction: row;
      padding: 0px;
  }
  .informacion-adicional-pie div{ /* Los contenedores que dividen en 4 */
      width: 25%;
  }
  
  /* Resto */
  .subcontenedor-grande-footer .contenedor-centrado-pie{
    margin-top: 0px;
    flex-direction: column;
  }
  
  .logo-pie{
    height: 140px;
    width: 100%;
    padding-right: 40px;
  }

  .sucursal-principal{
      padding: 0px 40px 0px 0px;
  }
  
  
  .formulario-ofertas{
      display: flex;
      width: 100%;
  }
  .correo-ofertas{
    width: 60%;
  }

  .redes-sociales-pie{
    height: 100px;
    width: 100px;
  }
}

/* Pop-up */
.popup-carro{
  position:fixed;
  margin:0;
  inset: unset;
  right:0;
  bottom:0;
  top:0;
  width:50%;
  min-width: 400px;
  min-height:100dvh;
  border:none;
}