/* Fuentes */
@font-face {
    font-family: "Poppins";
    src: url(fuentes/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(fuentes/Roboto-Regular.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Poppins;
    background-color: white;
}


/*Sidebar */

.sidebar{
    width: 250px;
    height: 100%;
    background-color: #2f1f58;
    padding: 20px 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    transition: transform 0.3s ease;
    border-radius: 3px;
}

.titulo-menu{
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.lista-menu{
    list-style-type: none;
    padding: 0;
}

.lista-menu li{
    margin-bottom: 10px;
    list-style: none;
}

.lista-menu li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background 0.3s ease;
}

/*color cuando me poso sobre un li*/

.lista-menu li a:hover{  
    background-color: #110a23;
}

.icon{
    margin-right: 15px;
    font-size: 18px;
}

.text{
    flex-grow: 1;
}

.arrow{
    font-size: 16px;
}

.dropdown-content{
    display: none;
    padding-left: 20px;
}

.dropdown-content li a{
    padding: 8px 0;
    font-size: 14px;
    color: #bbbbbb;
    display: flex;
    align-items: center;
}

.dropdown-content li a:hover {
    color: #FFFFFF;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dot{
    margin-right: 10px;
    font-size: 35px;
    line-height: 0;
}

/*catalogo notebooks*/

.contenedor-tienda {
    display: flex; /* Utiliza flexbox para el diseño */

    padding: 20px; /* Espaciado alrededor del contenido */
}

.sidebar {
    width: 250px; /* Ancho de la barra lateral */
    background-color: #2f1f58; /* Color de fondo */
    padding: 20px 10px; /* Espaciado interno */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Sombra */
    overflow-y: auto; /* Permitir el desplazamiento vertical si el contenido es largo */
    border-radius: 3px; /* Bordes redondeados */
    min-height: 100vh; /* Asegura que el sidebar siempre tenga al menos la altura completa de la ventana */
}

.catalogo {
    flex: 1; /* Ocupa el espacio restante */
    display: flex;
    flex-wrap: wrap; /* Permite el ajuste de los elementos */
    gap: 20px; /* Espacio entre los productos */
    margin-left: 20px; /* Separación del sidebar */
    padding: 0px 20px 20px 20px; /* Opcional: Añadir padding interno para separar los productos del borde */
}


/* Estilos para cada producto */
.producto {
    
    /*background-color: #e20d0d; /* Fondo blanco para los productos */
    /*border: 1px solid #ddd; /* Borde suave alrededor del producto */
    /*border-radius: 8px; /* Bordes redondeados */
    /*padding: 10px; /* Espacio interno */
    /*width: calc(33.33% - 20px); /* Ancho del 33.33% menos el espacio entre productos */
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
    /*text-align: center; /* Centrar el contenido dentro del producto */

    background-color: white; 
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 10px;
    width: calc(33.33% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    /* trancision */
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease; 
}

/*-- movimiento --*/

.producto:hover {
    transform: translateY(-5px); /* mueve la imagen */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); /* sombra */
    border: 1px solid rgb(78, 55, 138); /* borde brillante cuando paso el mouse */
}


.link-compra{
    text-decoration: none;
}

/* Estilos para el nombre del producto */
.nombre-producto {
    background-color: var(--color-morado-oscuro); /* Fondo separado para el nombre */
    padding: 10px; /* Espacio interno */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 10px; /* Espacio debajo del nombre */
    color: var(--fuente-blanca);

    /* brillo del nombre*/
    transition: color 0.3s ease; /* Transición suave */

    
}
    /* brillo del nombre*/
.producto:hover .nombre-producto {
    color: white; /* Cambia el color a un verde brillante */
    text-shadow: 0 0 5px rgba(245, 245, 245, 0.436); /* Agrega un brillo sutil */
}


.nombre-producto h2{
    font-size: 18px;
}

/* Estilos para la imagen del producto */
.imagen-producto {
    width: 100%; /* Ajustar la imagen al ancho del producto */
    height: auto; /* Mantener la relación de aspecto */
}

/* Estilos para el precio del producto */
.precio-producto {
    font-size: 16px; /* Tamaño de la fuente del precio */
    color: #333; /* Color del texto del precio */
    margin: 10px 0; /* Espacio arriba y abajo */
}

/* Estilos para el botón de comprar */
.boton-comprar {
    background-color: var(--color-morado-oscuro); /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 15px; /* Espaciado interno */
    cursor: pointer; /* Cursor de mano al pasar el ratón */
}

.boton-comprar:hover {
    background-color: var(--color-morado-claro); /* Color de fondo al pasar el ratón */
}

/* Estilo adicional para el espacio en la parte inferior */
.producto {
    margin-bottom: 30px; /* Espacio adicional en la parte inferior de cada producto */
    
}





@media screen and (max-width:768px) {
    .sidebar{
        width: 100px;
        height: auto;
        position: relative;

    }
    .lista-menu li a{
        justify-content: center;
        padding: 10px 0;
    }

    .icon{
        margin-right: 0;
        font-size: 24px;
    }

    .dropdown-content{
        position: relative;
        padding-left: 0;
    }

    .dot{
        font-size: 24px;
    }
}




