.contenedor-mayorista{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;

    font-size: 18px;
    text-align: justify;
}

.titulo-mayorista{
    background-color: var(--color-morado-claro);
    color: var(--fuente-blanca);
    font-size: 20px;
    text-align: center;
    text-decoration: underline;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 135px;
    width: 100%;
}
.contenedor-mayorista .subcontenedor-mayorista{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: white;

    border: 2px solid #6200ea; /* Borde morado alrededor de la imagen */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px; /* Espacio interno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.terminos-mayoristas{
    text-align: justify;
    margin: 0;
}
.terminos-mayoristas li span{
    text-decoration: underline;
    font-weight: bold;
}

.titulo-formulario-mayorista{
    display: flex;
    justify-content: start;
    align-items: flex-end;
    width: 100%;


}
.titulo-h2-mayorista{
    display: flex;
    justify-content: start;
    align-items: flex-end;
    margin-top: 30px;
    margin-bottom: 0px;
}
.formulario-mayorista{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;

    width: 90%;
    min-height: 280px;
}
.contenedor-formulario-mayorista{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    min-height: 280px;
}
.contenedor-formulario-mayorista div{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    flex: 1;
}
.contenedor-formulario-mayorista div input{
    width: 100%;
    height: 50px;
    border: 10px solid var(--color-morado-claro);
}
.contenedor-mensaje{
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    flex: 1;
}
.dejar-mensaje textarea{
    width: 100%;
    height: 140px;
    border: 10px solid var(--color-morado-claro);
    resize: none;
}
.contenedor-formulario-mayorista .enviar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.enviar button{
    background-color: var(--color-morado-oscuro); 
    color: white; 
    border: none; 
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer; /* Cursor de mano al pasar el mouse */
    font-size: 20px;
}
button:hover {
    background-color: var(--color-morado-claro); /* Color de fondo al pasar el mouse */
}

@media (min-width: 768px){
    .contenedor-mayorista{
        padding: 25px 100px 100px 100px;
        font-size: 18px;
    }
    
    .titulo-mayorista{
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .titulo-mayorista h1{
        font-size: 51px;
    }
    .contenedor-mayorista .subcontenedor-mayorista{
        width: 100%;
        padding: 20px;
    }
    
    .formulario-mayorista{
        justify-content: space-between;
        flex-direction: row;
    }
    .contenedor-formulario-mayorista{
        padding-left: 40px;
    }
    .contenedor-formulario-mayorista div input{
        width: 80%;
    }
    .dejar-mensaje textarea{
        width: 80%;
    }
    .contenedor-formulario-mayorista .enviar{
        width: 80%;
    }
}